---
work_dir:
account_email:
account_key_file: account.key
domain_key_file: domain.key
csr_file: domain.csr
cert_file: domain.crt
domains: []
openssl_default_config: /etc/pki/tls/openssl.cnf
#openssl_default_config: /etc/ssl/openssl.cnf
agreement_url: https://letsencrypt.org/documents/LE-SA-v1.1.1-August-1-2016.pdf
acme_directory: https://acme-staging.api.letsencrypt.org/directory
#acme_directory: https://acme-v01.api.letsencrypt.org/directory
